/* 
  Every component begins with 'The'
*/

/* The general settings */
:root {
  --paypal-midnight-blue: #012169;
}


/* The webpage's global layout */
body {
  display: flex;
  flex-direction: column;
}


/* The header */
.hero {
  background-image: linear-gradient(
    to bottom,
    blue,
    navy
    );
  display: flex;
  justify-content: space-between;
  color: #eee;
}

.hero a,
footer a {
  text-decoration: none;
  color: inherit;
  display: block;
}


/* Header. The logo */
.hero .logo {margin-inline-start: 1rem;}
.logo {
  padding-block: .53rem;
  text-align: center;
  font-weight: bold;
}
.logo a {
  display: inline-block;
  width: min-content;
  font-size: 1.5rem;
  transition: .5s text-shadow;
}
.hero .logo a:is(:hover, :focus) {
  text-shadow:
    -2px -2px 4px,
    -4px -4px 8px;
}


/* Header. The main navigation */
.main-nav {
  display: none;
}


/* Main navigation, The mobile version */
.hero button {
  border: 2px solid;
  border-radius: 9.5px;
  display: flex;
  background-color: transparent;
  flex-direction: column;
  justify-content: center;
  gap: .3rem;
  flex-grow: 0;
  margin-inline-end: 1rem;
}

.hero button span {
  font-size: .6rem;
  width: 2rem;
  height: 1ch;
  background-color: #fff;
  border-radius: 1rem;
}


/* The content wrapper */
.content-wrapper {margin-block-end: 2rem;}

aside {display: none;}


/* The main content */
main {padding-inline: 16px;}

main h1 {
  text-align: center;
  margin: 1rem 0 0;
}

hr {margin-block: min(6vw, 1.5rem);}

.greetings {
  background-color: lightgray;
  padding: 1rem;
}


/* Blogs list */
.blog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4vh;
}

.card {
  text-decoration: none;
  color: unset;
  background: linear-gradient(#AD833A, #6DCBB4);
  padding: 1rem;
  border-radius: 1.5rem;
  border: 2px solid #000;
}

.card header {text-align: center; font-weight: bolder;}

.latest {background: linear-gradient(#21BAAC, #23B67E);}


/* The footer */
footer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  margin-block-start: auto;
  background-color: gray;
}

footer ul {
  text-decoration: underline;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: .8rem;
  flex-direction: column;
  justify-content: space-between;
}

.donate {
  text-decoration: none;
  background-color: orange;
  padding: .8rem 1.3rem;
  border-radius: 3rem;
  font: italic bold small-caps 1.2rem 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: .4px;
  color: var(--paypal-midnight-blue);
  box-shadow:
    inset 0px 6px 4px #fffd,
    inset 0px -6px 4px #0004;
  border: 1px solid orange;
}


/*
  The wide layout.
  Every component's rulesets ends with 'wider screen'
*/
@media screen and (min-width: 48em) {

  /* The header (wider screen) */
  .hero {justify-content: space-evenly;}


  /* The logo (wider screen) */
  .hero .logo {margin-inline-start: 0;}


  /* The main navigation (wider screen) */
  .main-nav {display: block;}
  .main-nav ul {
    min-height: 100%;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    gap: 2rem;
  }
  .main-nav a {
    height: 100%;
    text-align: center;
    padding: .8rem;
    border: 1px solid black;
  }
  .main-nav a:is(:hover, :focus) {
    background-image: linear-gradient(
      to bottom,
      dodgerblue,
      blue
    );
  }


  /* Main navigation. The login option (wider screen) */
  .log_on a {
    background-image: linear-gradient(
      to bottom,
      firebrick,
      maroon
    );
  }
  .log_on a:is(:hover, :focus) {
    background-image: linear-gradient(
      to bottom,
      tomato,
      red
    );
  }


  /* The mobile main navigation (wider screen) */
  .hero button {display: none;}


  /* The content wrapper (wider screen) */
  .content-wrapper {
    display: flex;
    gap: 1rem;
  }
  .content-wrapper > * {flex: 1;}


  /* The aside content (wider screen) */
  aside {
    display: block;
    padding-block-start: 3rem;
  }
  aside ol {
    margin: auto 2rem;
    padding: 0;
  }


  /* The main content (wider screen) */
  .content-wrapper main {flex: 6;}


  /* Blogs list (wider screen) */
  .card {
    flex: 1 1 18rem;
  }

  .latest {flex-basis: 100%;}
}