:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-image: linear-gradient(
    to bottom,
    blue,
    navy
    );
  display: flex;
  justify-content: space-around;
  color: #eee;
}

header > * {flex: 2 1 auto;}

header a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.logo {
  padding: .53rem 0;
  text-align: center;
}
.logo a {
  display: inline-block;
  width: min-content;
  font-size: 1.5rem;
  transition: .5s text-shadow;
}
header .logo a:is(:hover, :focus) {
  text-shadow:
    -2px -2px 4px,
    -4px -4px 8px;
}

.main-nav {flex: 1 1 auto;}
.main-nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}

.main-nav li a {
  text-align: center;
  padding: .8rem;
  border: 1px solid black;
}

.main-nav li a:is(:hover, :focus) {
  background-image:
    linear-gradient(
      to bottom,
      rgb(0, 123, 255),
      blue
    );
}

header button {display: none;}

main {margin-bottom: 2rem;}

main h1 {
  text-align: center;
  margin: 1rem;
}

hr {margin: 2rem 0;}

.greetings {
  background-color: #bbb;
  width: 90vw;
  margin: auto;
  padding: 1rem;
}

footer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  background-color: gray;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: .8rem;
  flex-direction: column;
  justify-content: space-between;
}

footer a {color: inherit;}

.donate {
  text-decoration: none;
  background-color: orange;
  padding: .8rem 1.3rem;
  border-radius: 3rem;
  font: italic bold small-caps 1.2rem 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: .4px;
  color: #012169;
  box-shadow:
    inset 0px 6px 4px #fffd,
    inset 0px -6px 4px #0004;
  border: 1px solid orange;
}

@media screen and (max-width: 767px) {
  .main-nav {display: none;}
  header > * {flex: 1 1 auto;}
  .empty {display: none;}

  header button {
    border: 2px solid black;
    border-radius: .6rem;
    display: flex;
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
    gap: .3rem;
    flex-grow: 0;
  }
  header button span {
    font-size: .6rem;
    width: 2rem;
    height: 1ch;
    background-color: #fff;
    border-radius: 1rem;
  }
}