/* 
  Every component begins with 'The';

  For wider screens (48em because user's font-size setting),
  find '(wider screens)'
*/

/* The general settings */
:root {
  --paypal-midnight-blue: #012169;
}


/* The webpage's global layout */
body {
  display: flex;
  flex-direction: column;
  gap: 2em;
}


/* The header */
.hero {
  background-image: linear-gradient(
    to bottom,
    blue,
    navy
    );
  color: #eee;
}

.hero a,
footer a {
  color: inherit;
  display: block;
}


/* Header. The logo */
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: .53rem;
  text-align: center;
  font-weight: bold;
}
.logo a {
  text-decoration: none;
  display: inline-block;
  inline-size: min-content;
  font-size: 1.5rem;
  transition: .5s text-shadow;
}

.hero .logo {margin-inline: 1rem .5rem;}
.hero .logo a:is(:hover, :focus) {
  text-shadow:
    -2px -2px 4px,
    -4px -4px 8px;
}


/* Header. The main navigation */
.main-nav {
  display: none;
  flex: 1;
  order: 1;
}

.main-nav ul {margin: 0;}

.main-nav a {
  text-decoration: none;
  padding: .5rem;
}
.main-nav a:is(:hover, :focus),
.logo button:is(:active) {
  background-image: linear-gradient(
    to bottom,
    dodgerblue,
    blue
  );
}

/* Main navigation. The login option */
.log_on a {
  background-image: linear-gradient(
    to bottom,
    firebrick,
    maroon
  );
}
.log_on a:is(:hover, :focus) {
  background-image: linear-gradient(
    to bottom,
    tomato,
    red
  );
}
  

/* Main navigation, The mobile version */
.hero button {
  border: 2px solid;
  border-radius: 10px;
  display: flex;
  padding: .5rem;
  background-color: transparent;
  flex-direction: column;
  justify-content: center;
  gap: .3rem;
  flex-grow: 0;
}

.hero button span {
  font-size: .6rem;
  inline-size: 2rem;
  block-size: 1ch;
  background-color: #fff;
  border-radius: 1rem;
}


/* The aside content */
aside {display: none;}


/* The main content */
main {padding-inline: 16px;}

main h1 {
  text-align: center;
  margin: 0;
}

hr {margin-block: min(6vw, 1.5rem);}


/* Main content. The greeting text */
.greetings {
  background-color: lightgray;
  padding: 1rem;
}


/* The blogs list */
.blog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4vb;
}


/* Blogs list. The blog card */
.card {
  text-decoration: none;
  color: unset;
  background: linear-gradient(#AD833A, #6DCBB4);
  padding: 1rem;
  border-radius: 1.5rem;
  border: 2px solid #000;
}


/* Blog card. The components */
.card header {
  text-align: center;
  font-weight: bolder;
}

.latest {background: linear-gradient(#21BAAC, #23B67E);}


/* The footer */
footer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  background-color: gray;
}


/* Footer. The footer navigation */
footer ul {
  text-decoration: underline;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: .8rem;
  flex-direction: column;
  justify-content: space-between;
}


/* Footer. The donate button */
.donate {
  text-decoration: none;
  background-color: orange;
  padding: .8rem 1.3rem;
  border-radius: 3rem;
  font: italic bold small-caps 1.2rem 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: .4px;
  color: var(--paypal-midnight-blue);
  box-shadow:
    inset 0px 6px 4px #fffd,
    inset 0px -6px 4px #0004;
  border: 1px solid orange;
}


/*
  The wide layout.
*/

@media screen and (min-width: 48em) {

  /* The body */
  body {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-auto-rows: auto 1fr;
    grid-template-areas:
      "header header header"
      "aside main ."
      "footer footer footer";
  }


  /* The header; The main navigation */
  .hero {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(3, auto);
  }

  .hero button {display: none;}

  .hero .logo {
    margin-inline: 0;
    justify-self: center;
  }


  /* The main navigation */
  .main-nav {display: block;}

  .main-nav ul {
    min-block-size: 100%;
    display: flex;
    margin: 0;
    justify-content: center;
    gap: 2rem;
  }

  .main-nav a {
    text-decoration: none;
    block-size: 100%;
    text-align: center;
    padding: .8rem;
    border: 1px solid black;
  }


  /* The aside content */
  aside {
    display: block;
    padding-block-start: 3rem;
    grid-area: aside;
  }

  aside ol {
    margin: auto 2rem;
    padding: 0;
  }


  /* The main content */
  main {grid-area: main;}


  /* Blogs list */
  .card {flex: 1 1 18rem;}

  .latest {flex-basis: 100%;}


  /* The footer */
  footer {grid-area: footer;}
}